#view-sortear {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 3s ease;
  display: block;
}

#view-result {
  opacity: 0;
  pointer-events: none;
  transition: opacity 5s ease;
  display: none;
} 

.show-result #view-sortear {
  opacity: 0;
  pointer-events: none;
  display: none;
}


.show-result #view-result {
  opacity: 1;
  pointer-events: auto;
  display: block;
}


#form-wrap {
    margin-top: 2rem;

    & form {
        & h2 {
            font: var(--label-medium);
            color: var(--content-primary);
            font-size: 1.4rem;
            font-weight: 600;
        }
    
        & p {
            font: var(--paragraph-medium);
            color: var(--content-primary);
            font-weight: 100;
        }

        & .numbers {
            margin-top: 3rem;
            display: flex;
            gap: .5rem;
            text-align: center;
            border: none;

            & .field {
                position: relative;

                &:hover::before {
                    content: '';
                    position: absolute;
                    top: 2.7rem;
                    left: -.1rem;
                    width: 6.15rem;
                    height: 4.2rem;
                    border-radius: .5rem;
                    background: var(--gradient-border);

                    z-index: -1;
                }

                &:focus-within::before {
                    content: '';
                    position: absolute;
                    top: 2.55rem;
                    left: -.25rem;
                    width: 6.5rem;
                    height: 4.4rem;
                    border-radius: .5rem;
                    background: var(--gradient-border);

                    z-index: -1;
                }
                
            }

            & label {
                display: flex;
                justify-content: center;
                gap: 1rem;
                font: var(--label-medium);
                color: var(--content-primary);
                font-weight: 400;
                font-size: 1.2rem;
            }
        
            & input[type='number'] {
                margin-top: 1rem;
                width: 6rem;
                height: 4rem;
                outline: none;
                border: none;
                border-radius: .5rem;
            
                text-align: center;
                font: var(--display-small);
                color: var(--content-primary);
            
                background-color: var(--background-secondary);
            
                appearance: textfield;
            
                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;

                }
            }
        }

        & .option {
            border: none;
            position: relative;
            margin-top: 2rem;

            & label {
                position: absolute;
                left: 4rem;
                font: var(--paragraph-small);
                font-weight: 300;
                color: var(--content-primary);

                & input[type='checkbox'] {
                    position: absolute;
                    right: 7rem;
                    top: -2px;
                    outline: none;
                    width: 3rem;
                    height: 1.5rem;
                    -webkit-appearance: none;
                    background: var(--content-tertiary);
                    border-radius: 1rem;


                    &:checked {
                        background: var(--gradient-background);
                    }

                    &::before {
                        position: absolute;
                        top: 2.5px;
                        left: 3.5px;
                        content: '';
                        display: block;
                        width: 1.2rem;
                        height: 1.2rem;
                        cursor: pointer;
                        
                        border-radius: 50%;
                        background-color: white;

                        transition: .5s;
                    }
                }

                & input[type='checkbox']:checked::before {
                    left: 25px;
                }
            }

        }

        & button {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            margin-top: 5rem;

            width: 20rem;
            max-width: 19.5rem;
            height: 4rem;
            border-radius: .5rem;

            font: var(--label-medium);
            color: var(--content-primary);

            background-color: var(--background-tertiary);
            border: none;

            &:hover::before {
                    content: '';
                    position: absolute;
                    top: -.2rem;
                    left: -.3rem;
                    width: 20rem;
                    height: 4.3rem;
                    border-radius: .5rem;
                    background: var(--gradient-border);

                    z-index: -1;
            }
        }
    }
}

#view-result {
    & .results {
        top: -30rem;
        margin-top: 4rem;
        & h2 {
            text-align: center;
            font: var(--label-medium);
            color: var(--content-primary);
            font-weight: 400;
            font-size: 1.3rem;
        }

        & span {
            display: block;
            text-align: center;
            font: var(--overline);
            color: var(--content-primary);
            font-size: 1.2rem;
            font-weight: 400;
        }

        & .result-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            margin-top: 4rem;

            & .slot {
                position: relative;
                width: 6.5rem;
                height: 5rem;
                flex-shrink: 0;

                & .number {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-62%, -50%);
                    margin: 0;
                    text-align: center;
                    width: 100%;
                    font: var(--display-medium);
                    font-weight: 600;


                    animation: number-pop 3s ease-out forwards;
                    animation-delay: .2s;

                    opacity: 0;
                    transform: scale(0);
                }

                & .frame {
                    align-items: center;
                    margin-top: 0;

                    width: 5rem;
                    height: 5rem;
                    background-color: var(--background-brand);
                    border-radius: 1rem;

                    opacity: 0;
                    transform: scale(0) rotate(0deg);
                } 
            }
            & .frame.animate {
                animation:
                arises-and-spins 3s ease-in-out forwards;

                animation-delay: 0.1;
            }
        }

        & button {
            position: relative;
            margin-top: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            width: 19.5rem;
            height: 4rem;
            border-radius: .5rem;

            font: var(--label-medium);
            color: var(--content-primary);

            background-color: var(--background-tertiary);
            border: none;
            font-size: 1rem;

           &:hover{
                transition: .2s;
                background: var(--background-secondary);
            }
            
            &:hover::before {
            content: '';
            position: absolute;
            top: -.2rem;
            left: -.3rem;
            width: 20rem;
            height: 4.3rem;
            border-radius: .5rem;
            background: var(--gradient-border);
            z-index: -1;
            }
        }

    }
}


@keyframes arises-and-spins {
    0% {
        opacity: 0;
        transform: scale(0) rotate(0deg);
    }

    30% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }

    70% {
        opacity: 1;
        transform: scale(1.2) rotate(180deg);
    }

    100% {
        opacity: 0;
        transform: scale(0) rotate(180deg);
    }
}


@keyframes number-pop {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  30% {
    opacity: 0;
    color: #000000;
    transform: translate(-50%, -50%) scale(1);
  }
  60% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
    color: #000000;
  }
  80% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 1;
    color: var(--content-brand);
    transform: translate(-50%, -50%) scale(1); 
  }
}



@media (width >= 80em) {
  .form-layout {
    position: relative;
  }

  #form-wrap {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-13rem);

    max-width: 25rem;

    & form {
        & button {
            width: 25rem;
            max-width: 25rem;

            &:hover::before {
                content: '';
                position: absolute;
                top: -.15rem;
                left: -.25rem;
                width: 25.5rem;

                z-index: -1;
            }
        }
    }
  }

  #view-result {
    position: relative;
    & .results {
        position: absolute;
        top: -15rem;
        left: 50rem;
        margin-top: 4rem;
        & h2 {
            text-align: center;
            font: var(--label-medium);
            color: var(--content-primary);
            font-weight: 400;
            font-size: 1.3rem;
        }

        & span {
            display: block;
            text-align: center;
            font: var(--overline);
            color: var(--content-primary);
            font-size: 1.2rem;
            font-weight: 400;
        }

        & .result-list {
            & .slot {
                & .number {
                    transform: translate(-51%, -50%);
                }
            }
        }

        & div {
            margin-top: 4rem;
            display: flex;
            justify-content: center;
            gap: 1rem;

            & p {
            font: var(--display-medium);
            color: var(--content-brand);
            font-weight: 600;
            }
        }

        & button {
            margin-top: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            width: 30rem;
            max-width: 30rem;
            height: 4rem;
            border-radius: .5rem;

            font: var(--label-medium);
            color: var(--content-primary);

            background-color: var(--background-tertiary);
            border: none;
            font-size: 1rem;

            &:hover::before {
            content: '';
            position: absolute;
            top: -.2rem;
            left: -.3rem;
            width: 30.5rem;
            height: 4.3rem;
            border-radius: .5rem;
            background: var(--gradient-border);
            z-index: -1;
            }
            
        }

    }
}
}
