* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 375px;
    width: min(375px, calc(100% - 64px));
    margin-inline: auto;
}

.flex {
    display: flex;
}

:root {
    /* Content */
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    /* Background */
    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-gray: #3D3D3D;

    /* Accent */
    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0AF;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    /* Gradient */
    --gradient-border: #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%;

    --gradient-background: linear-gradient(90deg, #D586E0 0%, #91A1FA 98.93%);

    --gradient-content: linear-gradient(90deg, #C7C9CC 0%, #3D3D3D 250%);


    --font-family-1: 'Sora', 'sans-serif';
    --display-large: 800 72px/130% var(--font-family-1);
    --display-medium: 800 40px/130% var(--font-family-1);
    --display-small: 600 32px/130% var(--font-family-1);

    --font-family-2: 'Roboto Mono', 'sans-serif';
    --overline: 700 16px/150% var(--font-family-2);

    --font-family-3: 'Roboto Flex', 'sans-serif';
    --paragraph-large: 700 16px/150% var(--font-family-3);
    --paragraph-medium: 700 14px/150% var(--font-family-3);
    --paragraph-small: 700 12px/150% var(--font-family-3);
    --label-medium: 600 20px/150% var(--font-family-3);
    --label-small: 600 16px/150% var(--font-family-3);
    
}


@media (width >= 80em) {
    .container {
        max-width: 1280px;
        width: min(1280px, calc(100% - 64px));
    }
}
