@import url(global.css);

body {
    background-color: var(--background-primary);
    background-image: url(assets/img/bg.png);

    & #logo {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 2rem;
    }

    & div {
            margin-top: 2.87rem;
        & span {
            font: var(--overline);
            color: transparent;
            background: var(--gradient-content);
            background-clip: text;
            -webkit-background-clip: text;
        }

        & h1 {
            margin-top: 0.5rem;
            font: var(--display-medium);
            color: var(--content-primary);
        }

        & h2 {
            margin-top: 2rem;
            font: var(--label-medium);
            color: var(--content-primary);
        }

        & p {
            font: var(--paragraph-medium);
            color: var(--content-primary);
            font-weight: 300;
        }
    }

    & form {
        & .numbers {
            display: flex;
            gap: 1.5rem;
            border: 0px;

            & label {
            font: var(--label-medium);
            color: var(--content-primary);

            }

            & .field {
                position: relative;
                & label{
                    display: block;
                    text-align: center;
                    font-size: 1rem;
                    margin-bottom: .5rem;
                }

               & input[type="number"] {
                width: 5.3rem;
                height: 4rem;
                border-radius: .5rem;
                display: flex;
                border: none;
                outline: none;
                background-color: var( --background-secondary);
                text-align: center;
                font: var(--display-small);
                color: var(--content-primary);
                margin-bottom: 2rem;
               }

                & input[type="number"]::-webkit-inner-spin-button,
                & input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
                }

            }

            & .field:hover::after {
                content: '';
                position: absolute;
                right: -0.8px;
                bottom: 31px;

                width: 101%;
                height: 51%;

                background-image: var(--gradient-background);
                border-radius: .5rem;
                z-index: -1;
            }

            & .field:focus-within::after {
                content: '';
                position: absolute;
                right: -2.5px;
                bottom: 28.5px;

                width: 105%;
                height: 55%;

                background-image: var(--gradient-background);
                border-radius: .5rem;
                z-index: -1;
            }

        }

        & .option {
            position: relative;
            border: none;
            gap: 1rem;
            align-items: center;
            

                & label {
                    position: absolute;
                    font: var(--paragraph-small);
                    font-weight: 400;
                    color: var(--content-primary);
                    left: 4rem;
                
                & input[type="checkbox"] {
                    position: absolute;
                    width: 3rem;
                    height: 1.8rem;
                    outline: none;
                    -webkit-appearance: none;
                    background: var(--content-secondary);
                    border-radius: 3rem;
                    right: 8rem;
                    top: -.3rem;

                    &:checked {
                        background: var(--gradient-background);
                    }

                    &::before {
                        position: absolute;
                        content: '';
                        width: 1.5rem;
                        height: 1.5rem;
                        border-radius: 1rem;
                        background-color: var(--content-primary);
                        top: 2.5px;
                        left: 4px;
                        transform: scale(1);
                        transition: .5s;
                        cursor: pointer;
                    }
                }
                
                & input[type="checkbox"]:checked::before {
                    left: 20px;
                }
            }
        }   

        & button {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin-top: 4rem;
            width: 19.43rem;
            height: 4rem;
            border-radius: .5rem;
            font: var(--label-medium);
            background: var(--background-tertiary);
            color: var(--content-primary);
            border: none;
            cursor: pointer;
            outline: none;

            &:hover::after {
                content: '';
                position: absolute;
                right: -2.5px;
                bottom: -0.8px;

                width: 101%;
                height: 104%;

                background-image: var(--gradient-background);
                border-radius: .5rem;
                z-index: -1;
            }
        }
    }

    & .doubts {
        & div {
            margin-bottom: 3rem;
            & .people {
                & img {
                    filter: invert(24%) sepia(64%) saturate(4000%)
                    hue-rotate(245deg) brightness(95%) contrast(95%);
                }
                font: var(--paragraph-medium);
                color: var(--content-brand);
            }
    
            & p {
                font: var(--paragraph-small);
                font-weight: 300;
            }
        }
    }
}

@media (width >= 80em) {
    section { 

        #logo {
            justify-content: initial;

            margin-top: 4.75rem;
            margin-bottom: 4.75rem;
        }

        & div {

            & h1 {
                max-width: 33rem;
                font: var(--display-large);
            }
        }

        
        & .doubts {
            & div {
                & .people {
                    font: var(--paragraph-medium);
                }

                & p {
                    max-width: 22rem;
                }
            }
        }
    }

    section {
        & form {
            margin-top: 5rem;

            & p {
                max-width: 25.5rem;
            }

            & button {
                width: 25rem;
            }
        }
    }
}